@font-face {
    font-family: 'cen';
    src: url(/assets/fonts/Tw\ Cen\ MT.ttf);
}
@font-face {
    font-family: 'Founders Groteski';
    src: url(/assets/fonts/FoundersGrotesk-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'cen';
}
h1, h5{
    font-family: 'Founders Groteski';
}
/* }navbar section */

.dropdown-menu{
    background-color: black;
}
.dropdown-menu a{
    color: #ffff00;
}
/* icons */
ul.footer-ul .fa{
    color: #ffff00;
}
.navbar{
    background-color: #ffff00;
}
.card-body{
    background-color: #f3f3f3;
}

/* buttons section */
.button{
    background-color: #ffff00;
    color:black;
    padding-inline:  35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* hero section */
.hero{
background-image:url('/assets/images/contact.png');
background-size: cover;
background-position: center;
height: 70vh;
}
.about-hero{
background-image:url('/assets/images/Timazi-Readership-Challenge-scaled.jpg');
background-size: cover;
background-position: center;
height: 60vh;
}
.about-text{
    padding-top: 13%;
    text-align: center;
    color: #f3f3f3;
}

.bible-hero{
background-image:url('/assets/images/bible-reading-program.png');
background-size: cover;
background-position: center;
height: 60vh;
}
.bible-text{
    padding-top: 13%; 
    text-align: center;
    color: #f3f3f3;
}
/* our latest resources section */
.latest a{
text-decoration: none;
color: black;
}
.latest a:hover{
    text-decoration: underline;
}
/* our latest resources end */
ul.footer-ul li a{
color:white;
text-decoration: none;
}
ul.footer-ul li a:hover{
    color: #ffff00;
    text-decoration: underline;
}
/* hero section end */
/* .red{
    background-color: #ffff00;
} */
/* footer bar */
.footer-bar{
    background-color: #212529;
}