
@import url('./fonts.css');

:root {
    --primary-clr: #ffff00;
    --clr-black: #000000;
    --clr-grey: #f3f3f3;
    --clr-white: rgb(255, 255,255);

}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'cen';
}
h1, h5{
    font-family: 'Founders Groteski';
    font-weight: 700;
}
/* }navbar section */
.navbar{
    background-color:var(--primary-clr);
}
.dropdown-menu{
    background-color:var(--clr-black);
}
.dropdown-menu a{
    background-color: var(--primary-clr);
    color: black;
    padding: .5em;
}
.nav-item{
    font-family: 'Founders Groteski';
    font-weight: 600;
    font-size: 20px;
}
/* navbar end */

/* hero section */
.hero{
background-image: linear-gradient( to top,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/contact.png');
background-size: cover;
background-position: center;
height: 60vh;
}
.about-hero{
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/Timazi-Readership-Challenge-scaled.jpg');
background-size: cover;
background-position: center;
height: 60vh;
}
.about-text{
    padding-top: 190px;
    text-align: center;
    color:var(--clr-white) ;
    align-items: center;
}

.magazine-hero{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/magazinees.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;  
}

.magazine-text{
    padding-top: 190px;
    text-align: center;
    color:var(--clr-white) ;
    align-items: center;
}
.readership-hero{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/Readership-Challenge-2025.jpeg');
    background-size: cover;
    background-position: center;
    height: 60vh;  
}

.readership-text{
    padding-top: 190px;
    text-align: center;
    color:var(--clr-white) ;
    align-items: center;
}

.bg-gray{
    color:var(--clr-grey);  
}

.bible-hero{
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/bible-reading-program.png');
background-size: cover;
background-position: center;
height: 60vh;
}
.mwalimu-hero{
    background-image: url("/assets/images/Mwalimu-Bora-1.png");
    background-position: center;
    background-size: cover;
    height: 85vh;
}
.video-hero{
background-image: linear-gradient(to bottom, rgba(0,0,0), #FFF200 );
background-position: center;
background-size: cover;
height: 65vh;
}
.podcast-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0), #FFF200 );
    background-position: center;
    background-size: cover;
    height: 65vh; 
}
.podcast-hero{
    padding-top: 13%; 
    text-align: center;
    color:var(--clr-white);
}


.video-text{
    padding-top: 13%; 
    text-align: center;
    color:var(--clr-white);
}
.article-hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0), #FFF200 );
    background-position: center;
    background-size: cover;
    height: 65vh;  
}
.article-text{
    padding-top: 13%; 
    text-align: center;
    color:var(--clr-white);
}
.latest-hero{
background-image: linear-gradient( to top,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('/assets/images/contact.png');
background-size: cover;
background-position: center;
height: 60vh;
}
.latest-text{
    padding-top: 10%; 
    text-align: center;
    color:var(--clr-white);
}
.latest-icon{
    color: var(--primary-clr);
    
}
.bible-text{
    padding-top: 13%; 
    text-align: center;
    color:var(--clr-white);
}

.hero-link {
    text-decoration: none;
    color:var(--primary-clr) ;
    font-size: 25px;
}
.hero-link:hover{
    text-decoration: underline;
}
/* hero section end */

.card{
    background-color:var(--clr-grey) ;
}
/* contact section */
.contact{
    background-color:var(--clr-grey) ;
}
.contact-title{
    background-color: #333333cc;
    color: var(--primary-clr);
}
/* contact end */

/* buttons section */
.button{
    background-color:var(--primary-clr) ;
    color:var(--clr-black);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}
/* headline decoration */
.sudo::after{
    content: "";
    border: 4px solid var(--primary-clr) ;
    position: absolute;
    left: 45%;
    width: 13%;
    bottom: 0;
}
/* headline decoration end */


/* our latest resources section */
.latest a{
text-decoration: none;
color: var(--clr-black);
}
.latest a:hover{
    text-decoration: underline;
}
/* our latest resources end */


/* subscription section */
.subscription{
    background-color: var(--clr-grey);
}

/* footer section */
ul.footer-ul .fa{
    color: var(--primary-clr);
}
ul.footer-ul li a{
color:var(--clr-white);
text-decoration: none;
}
ul.footer-ul  a:hover{
    color: var(--primary-clr);
    text-decoration: underline;
}
.socials a .fa{
    color:var(--clr-white);
    font-size: 20px;
}
.socials a .fa:hover{
    color: var(--clr-yellow);
}
.trial{
    border: 3px solid var(--primary-clr);
    width: 20%;  
}
/* footer bar */
.footer-bar{
    background-color: #212529;
}
/* footer end */
.title{
    color: #455191;
}